#!/bin/sh
# river/rules

add="riverctl rule-add"

$add -app-id "cs2" fullscreen
$add -app-id "cs2" tearing
$add -app-id "foot" float
$add -app-id "foot" dimensions 840 600
$add -app-id "gamescope" fullscreen
$add -app-id "gamescope" tearing
$add -app-id "mpv" float
$add -app-id "org.fcitx.fcitx5-config-qt" float
$add -app-id "org.fcitx.fcitx5-config-qt" dimensions 800 640
$add -app-id "org.telegram.desktop" float
$add -app-id "pavucontrol-qt" float
$add -app-id "swayimg" float
$add -app-id "steam" float
$add -app-id "thunar" float
$add -app-id "xmcl" float
